# Bases de datos
*.sqlite3
*.db

# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env
.streamlit/secrets.toml

# Logs y Temporales
*.log
scripts_used/
data/
data_input/
data_processed/
exports/
config/pipeline_rules.json